body,html {
    height: 100%;
}

.container-fluid {
    /* margin: 0 auto; */
    padding: 0%;
    height: 100%;
    background-color: cadetblue;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header{
    height: 10%;
    width: 100%;
    margin: 0%;
    background-color: blue;
    color: white;
}

main{
    height: 80%;
    background-color: brown;

}

footer{
    height: 10%;
    background-color: black;
    color: white;
}

h1{
    position: absolute;
    color: white;
    -webkit-transition: font-size 0.5s, opacity 0.5s;
    transition: font-size 0.5s, opacity 0.5s;
}

h3{
    opacity: 0;
    font-size: 1px;
    transition: font-size 0.5s, opacity 0.5s;
}

.main-container{
    height: 75%;
    padding: 0%;
    margin: 0%;
    background-color: darkseagreen;
}

.click{
    background-color: coral;
    border: 0px solid white;
    -webkit-transition: border-width 0.1s, background-color 1s, font-size 0.3s, color 0.3s;
    transition: border-width 0.1s, background-color 1s, font-size 0.3s, color 0.3s;
}

.click:focus{
    background-color: darkblue;
    font-size: 80px;
    color: white;
}

.click:hover{
    border-width: 6px;
}

.click:curre{
    background-color: darkblue;
    font-size: 80px;
    color: white;
}

ul{
    list-style: none;
    width: 100%;
}

li{
    margin: 2%;
    padding: 2%;
    border: 2px solid black;  
    border-radius: 25px;
    /* margin-left: -100%; */
    -webkit-transition: transform 0.2s, scale 0.9s;
    transition: transform 0.2s, scale 0.9s;
    color: white;
}

