/* -------------- RESET -------------- */
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */

/* -------------- RESET END -------------- */

body,html {
    height: 100%;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    /* width: 100%; */
    /* padding: 20px 0; */
    background-color: cadetblue;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main{
    background-color: blanchedalmond;
    height: 100%;
}

.logo{
    height: 75%;
    width: 100%;
    background-color: blue;
}

#logo{
    color: white;
    transition: font-size 0.5s, opacity 0.5s;
}

.buttons{
    background-color: gainsboro;
}

.click{
    background-color: coral;
    border: 0px solid white;
    transition: border-width 0.1s, background-color 1s, font-size 0.3s, color 0.3s;
}

.click:focus{
    background-color: darkblue;
    font-size: 80px;
    color: white;
}

.click:hover{
    border-width: 6px;
}